<!DOCTYPE html>
<html>
<head>
	<title>SiArts</title>
</head>
<body>
	Type the name of an artist/band that you like and we'll create a playlist with artists/bands that you may not know but may like! :)
	<form action="/relatedArtists" method="POST">
		<input name="artist_band" type="text"><br>
		<input type="submit" value="submit">
	</form>
</body>
</html>